.give-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.give-item {
  width: 50%;
  padding: 60px;
}

.give-item .item-img {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.item-img img {
  height: 400px;
  width: auto
}
.title-info {
  padding: 10px;
  text-align: center;
}

.title-info h2 {
  padding: 10px;
}

.title-info p {
  line-height: 2;
}

.item-img {
  position: relative;
}

.image-layout {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(244, 232, 232, 0.5);
  opacity: 0;
  transition: opacity 1s;
  width: 100%;
}

.item-img:hover .image-layout {
  opacity: 1;
}
